*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('img/images.jpg') no-repeat center;
    background-size: cover;
}

nav{
    height: 80px;
    width: 100%;
    background: #000;
}

label.logo{
    float: left;
    line-height: 80px;
    margin-left: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

label.logo span{
    color: #27CD27;
}

nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    color: #fff;
}

nav ul li a .active,a:hover{
    color: #27CD27;
    transition: .6s;
}

.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px;
}

.content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

.content span{
    color: #27CD27;
}

.content p{
    color: #ccc;
    text-align: center;
    margin: 10px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.content .btn{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    padding: 10px 25px;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #fff;
}    

.content .btn:hover{
    color: #27CD27;
    border: 1px solid #27CD27;
    transition: 0.6s;
}

@media (max-width:952px){
    label.logo{
        font-size: 20px;
        padding-left: 20px;
    }
    
    nav ul li a{
        font-size: 14px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
        line-height: 90px;
        filter: invert(1);
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .6s;
        z-index: 1;
    }
    
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a{
        font-size: 20px;
    }
    
    #check:checked~ul{
        left:0;
    }
    
    #n1{
      position: fixed;
       
      
      text-align: center;
      padding-left:--20px;
      top:08px;
    }

       
   

}
/*
    .content{
        visibility: hidden;
    }
*/
}
#n1{
    position: relative;
    top:-190px;
    
}
#b1{
 position: relative;
 left: 10px;
}
#b2{
 position: relative;
 left: 15px;
 right:30px;
}
#b3{
 position: relative;
 left: 20px;
}











