<!DOCTYPE html>
<html>
<head>
   <meta charset="Utf-8">
    <title>TEJAS RELAX WEB APP </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <img src="img/Hamburger.png" height="40px" width="40px">
  </label>
   <label class="logo">
   <h2>Relax <span>And Enjoy</span></h2>
   </label>
   
    <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    </ul>
</nav>

<section class="content">
  
    <h1 id="n1">Web<span>Design</span></h1>
 
    <p>TEJAS</p>
    <button class="btn"> <a href="C:/Users/User/Desktop/Hackothon/My-first project/index.html">Enjoy game</button>
    <button class="btn"><a  href="{{url_for('index_music_relax')}}">Relax </a></button></section>
</body>
</html>
